SliceItAllProject/Library
SliceItAllProject/Logs
SliceItAllProject/Temp
SliceItAllProject/UserSettings
SliceItAllProject/SliceItAllProject.sln
SliceItAllProject/.idea
SliceItAllProject/obj
SliceItAllProject/Assets/All Packages Demo
SliceItAllProject/Assets/All Packages Demo.meta
